<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <title>{% block title %} Home {% endblock %}</title>
</head>
<body>
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/madlibs">Madlibs</a>
        <a href="/madlibselect">Madlibs: Choose Your Adventure</a>
        <!-- <a href="/form">Greet</a>
        <a href="/hello">Hello</a>
        <a href="/lucky">Lucky</a> -->
    </nav>
    <main id="content">
        {% block content %}
        <!-- inject shit there -->
        <h1>Welcome to this incredible website!</h1>
        {% endblock %}
    </main>

    <script src="/static/app.js"></script>
</body>
</html>