<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <title>{% block title %} Home {% endblock %}</title>
</head>
<body>
    <nav class="navbar">
        <a href="/">Home</a>
    </nav>
    <main id="content">
        <h1>Welcome to my app template!</h1>
        <p>Options may vary.</p>

        <div class="flashdiv">
            {% for msg in get_flashed_messages() %}
            <p>{{ msg }}</p>
            {% endfor %}
        </div>

        <!--       BELOW           -->

        <h1>{{ pet.name }}</h1>
        <p>Species: {{ pet.species }}</p>
        <p>Hunger: {{ pet.hunger }}</p>
        <p>{{ pet.name }} says {{ pet.greet() }}!</p>
        <a href="/">Go back</a>
        


    </main>
    <script src="/static/app.js"></script>
</body>
</html>