<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <title>{% block title %} Home {% endblock %}</title>
</head>
<body>
    <nav class="navbar">
        <a href="/">Home</a>
    </nav>
    <main id="content">
        <h1>Welcome to my app template!</h1>
        <p>Options may vary.</p>

        <div class="flashdiv">
            {% for msg in get_flashed_messages() %}
            <p>{{ msg }}</p>
            {% endfor %}
        </div>

        <!--       BELOW           -->

        <h1>Pets</h1>
        <ul>
          {% for pet in pets %}
          <li><a href="/{{ pet.id }}">{{ pet.name }}</a></li>
          {% endfor %}
        </ul>
        <h2>Add Pet</h2>
        <form method="POST">
          <p>Name:     <input name="name"></p>
          <p>Species:  <input name="species"></p>
          <p>Hunger:   <input name="hunger"></p>
          <button>Save</button>
        </form>


    </main>
    <script src="/static/app.js"></script>
</body>
</html>