<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/static/app.css" />
    <title>{{user.name}}</title>
  </head>

  <body>
    <h1>{{user.first_name}} {{user.last_name}}</h1>
    <img class="profile_img_large" src="{{user.image_url}}" alt="" />
    <!-- <a href="/users/{{user.id}}/delete">Delete</a> -->
    <form>
      <button formaction="/users/{{ user.id }}/delete" formmethod="POST">
        Delete
      </button>
    </form>

    <form action="/users/{{user.id}}/edit" method="POST">
      <input type="text" name="first_name" value="{{user.first_name}}" />
      <input type="text" name="last_name" value="{{user.last_name}}" />
      <input type="text" name="image_url" value="{{user.image_url}}" />
      <button>EDIT</button>
    </form>

    <!-- <a href="/users/{{user.id}}/edit">Edit</a> -->

    <a href="/">Go Back</a>
  </body>
</html>
