<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <title>{% block title %} Home {% endblock %}</title>
</head>
<body>
    <nav class="navbar">
        <a href="/">Home</a>
        <!-- <a href="/survey">Survey</a> -->
    </nav>
    <main id="content">
        <h1>Welcome to Boggle!</h1>
        <p>Pick as many words as you can.</p>

        <section id="game-section">
            <table class="gameboard">
                <tbody>
                    {% for row in board %}
                    <tr>
                        {% for cell in row %}
                        <td>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h1>
                HIGH SCORE:{{highscore}}
                <br>
                PLAYS: {{nplays}}
            </h1>

            <h2>
                Score: <b class="score">0</b>
                Seconds Left: <b class="timer"></b>
            </h2>

            <form method="POST" class="post-word">
                <input name="wordinput" class="wordinput" autofocus>
                <button>Check Word!</button>
            </form>

            <h2 class="msg"></h2>
            <ul class="wordslist"></ul>

        </section>
        <script src="http://unpkg.com/jquery"></script>
        <script src="https://unpkg.com/axios@0.19.0/dist/axios.js"></script>
        <script src="/static/boggle.js"></script>
        <script>
            let game = new BoggleGame("boggle", 60);
        </script>



    </main>

    <script src="/static/app.js"></script>
</body>
</html>

